body { margin: 20px auto; width: 70%; }

a { text-decoration: none; color: #b7614e;}
a:hover { text-decoration: underline; }

a.class2 {
    color: #999;
    text-decoration: none;
}

p { font-size: 1.0em; line-height: 1.4em; color: #333; }
ul { font-size: 1.0em; line-height: 1.4em; color: #333; padding-left: 0px; margin-left: -5px;}

h5, h1, h2, h3, h4 { font-family: 'Helvetica', 'Sans-Serif', 'Trebuchet MS'; }
h5 { font-size: 1.8em;  }
h1 { font-size: 1.4em;  }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
h4 { font-size: 1.0em; }



nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 10px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 10px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

.leftmenu {
  position: fixed;
  top: -10px;
  left: 30px;
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: 80%;
}


.rightbody {
  position: absolute;
  margin-left: 10px;
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
  font-family: Helvetica, Geneva,  Arial, sans-serif;
  width: 750px;
  text-align: justify;
  font-size: 80%;
}

.image {
  position: fixed;
  top: 0px;
  left: 10px;
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: 80%;
}
